/* Client CSS */

.clients-feedback-area {
    position: relative;
    z-index: 1;

    .star-icon {
        position: relative;
        z-index: 1;
        margin-bottom: 10px;

        i {
            font-size: 14px;
            color: $primary;
        }
    }

    .client-description > p {
        margin-bottom: 15px;
        font-size: 18px;
        color: $heading;

        @media #{$breakpoint-xs} {
            font-size: 14px;
        }
    }

    .client-name > h5 {
        color: $secondary;
        margin-bottom: 0;

        @media #{$breakpoint-xs} {
            font-size: 16px;
        }
    }
}

.single-testimonial-slide {
    position: relative;
    z-index: 1;
    text-align: center;
    cursor: move;

    .client-thumbnail {
        position: relative;
        z-index: 1;

        img {
            width: 70px !important;
            height: 70px !important;
            border-radius: 50%;
            margin: 0 auto 20px;
        }
    }
}

.testimonial-slides {
    position: relative;
    z-index: 1;

    .owl-prev,
    .owl-next {
        @include transition-duration(500ms);
        width: 50px;
        height: 50px;
        background-color: $secondary;
        text-align: center;
        color: $white;
        line-height: 50px;
        position: absolute;
        right: -50px;
        bottom: 50px;

        @media #{$breakpoint-md} {
            width: 30px;
            height: 30px;
            line-height: 30px;
            right: -30px;
            bottom: 30px;
        }

        @media #{$breakpoint-xs} {
            width: 30px;
            height: 30px;
            line-height: 30px;
            right: 0;
            bottom: 30px;
        }

        &:hover,
        &:focus {
            background-color: $dark;
        }
    }

    .owl-next {
        right: 0;
        bottom: 0;

        @media #{$breakpoint-xs} {
            right: 30px;
        }
    }
}