/* Contact CSS */

.form-control {
    font-size: 14px;
    border-radius: 0;
    border: none;
    padding: 20px 30px;
    background-color: $bg-gray;
    @include transition-duration(500ms);
    height: 55px;

    &:focus {
        background-color: $bg-gray;
        box-shadow: none;
    }
}

textarea.form-control {
    height: 150px;
}

.contact-me-area {
    position: relative;
    z-index: 1;
}

.google-maps {
    position: relative;
    width: 100%;
    height: 300px;
    z-index: 2;

    iframe {
        width: 100%;
        height: 100%;
        border: none;
    }
}

.contact-information {
    position: relative;
    z-index: 1;

    .single-contact-info {
        position: relative;
        z-index: 1;
        margin-bottom: 20px;

        &:last-child {
            margin-bottom: 0;
        }

        h6 {
            text-transform: capitalize;
            color: $secondary;
            margin-bottom: 5px;

            i {
                min-width: 20px;
                display: inline-block;
            }
        }

        p {
            margin-bottom: 0;
            font-size: 14px;

            @media #{$breakpoint-sm} {
                font-size: 12px;
            }
        }
    }
}

.error,
.success {
    margin-bottom: 20px;
}

.popup-contact-form-area {
    @include transition-duration(500ms);
    position: fixed;
    z-index: 999898989;
    border-radius: 0;
    width: 700px;
    top: 50%;
    left: 50%;
    background-color: $primary;
    @include transform(translate(-50%, -50%) rotate(5deg));
    padding: 50px;
    opacity: 0;
    visibility: hidden;

    @media #{$breakpoint-xs} {
        padding: 20px;
        width: 300px;
    }

    h5 {
        margin-bottom: 16px;
        color: $white;

        @media #{$breakpoint-xs} {
            font-size: 16px;
        }
    }

    button {
        @include transition-duration(500ms);
        background-color: $dark;

        &:hover,
        &:focus {
            background-color: $white;
            color: $heading;
        }
    }

    &.active {
        @include transform(translate(-50%, -50%) rotate(0deg));
        opacity: 1;
        visibility: visible;
        box-shadow: 0 10px 55px 5px rgba(137, 173, 255, 0.35);
    }

    .popup-close {
        position: absolute;
        right: 30px;
        top: 30px;
        cursor: pointer;
        z-index: 100;

        @media #{$breakpoint-md} {
            right: 20px;
            top: 20px;
        }

        @media #{$breakpoint-xs} {
            right: 20px;
            top: 20px;
        }
    }

    .form-control {
        @media #{$breakpoint-lg} {
            padding: 15px;
            height: 38px;
            font-size: 12px;

            &.mb-30 {
                margin-bottom: 15px !important;
            }
        }

        @media #{$breakpoint-md} {
            padding: 15px;
            height: 35px;
            font-size: 12px;

            &.mb-30 {
                margin-bottom: 15px !important;
            }
        }

        @media #{$breakpoint-xs} {
            padding: 15px;
            height: 30px;
            font-size: 12px;

            &.mb-30 {
                margin-bottom: 10px !important;
            }
        }
    }

    textarea.form-control {
        @media #{$breakpoint-lg} {
            height: 90px;
        }

        @media #{$breakpoint-md} {
            height: 80px;
        }

        @media #{$breakpoint-xs} {
            height: 60px;
        }
    }
}