/* Education Timeline CSS */

.education-timeline {
    position: relative;
    z-index: 1;

    .single-education {
        margin-left: 80px;
        position: relative;
        z-index: 12;
        margin-bottom: 80px;

        @media #{$breakpoint-xs} {
            margin-left: 50px;
            margin-bottom: 50px;
        }

        &:last-child {
            margin-bottom: 0;
        }

        &:nth-child(even) {
            margin-left: 15%;

            @media #{$breakpoint-xs} {
                margin-left: 30%;
            }
        }

        .course-completed-years {
            color: $primary;
            margin-bottom: 0;
        }

        .course-title {
            color: $white;

            @media #{$breakpoint-xs} {
                font-size: 18px;
            }
        }

        p {
            margin-bottom: 0;
            color: rgba(255, 255, 255, 0.7);

            @media #{$breakpoint-xs} {
                font-size: 14px;
            }
        }

        .education-certificate {
            position: absolute;
            width: 65px;
            left: -80px;
            top: 7px;

            @media #{$breakpoint-xs} {
                width: 40px;
                left: -60px;
            }
        }
    }
}