// Fonts
$fonts: 'Poppins', sans-serif;

// :: 2.0 Template Colors
// Primary Color
$primary: #e1b12c;

// White Color
$white: #ffffff;

// Secondary Color
$secondary: #182C61;

// Dark Color
$dark: #0c0c0c;

// Heading Color
$heading: #12131b;

// Text Color
$text: #717273;

// Text Gray Color
$text-gray: #c2d4f8;

// Border Color
$border: #ebebeb;

// Gray Background
$bg-gray: #f2f4f8;