/* Video CSS */

.my-video-area {
    position: relative;
    z-index: 1;
    overflow: hidden;
}

.video--btn {
    position: relative;
    z-index: 1;

    a {
        position: relative;
        z-index: 1;
        display: inline-block;
        width: 60px;
        height: 60px;
        background-color: $primary;
        border-radius: 50%;
        color: $white;
        line-height: 67px;
        @include box-shadow(0 10px 55px 5px rgba(137, 173, 255, .35));
        font-size: 42px;

        &::after {
            position: absolute;
            content: '';
            width: 200%;
            height: 200%;
            top: 50%;
            left: 50%;
            @include transform(translate(-50%, -50%));
            z-index: -1;
            background-color: $primary;
            border-radius: 50%;
            @include animation(videobtn linear 2s infinite);
        }
    }
}

@-webkit-keyframes videobtn {

    0% {
        opacity: 1;
        width: 0;
        height: 0;
    }

    50% {
        opacity: 1;
        width: 100%;
        height: 100%;
    }

    100% {
        opacity: 0;
        width: 200%;
        height: 200%;
    }
}

@keyframes videobtn {
    0% {
        opacity: 1;
        width: 0;
        height: 0;
    }

    50% {
        opacity: 1;
        width: 100%;
        height: 100%;
    }

    100% {
        opacity: 0;
        width: 200%;
        height: 200%;
    }
}